@model IEnumerable<Food.Entity.Categories>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cg_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cg_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cg_Sale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cg_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cg_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cg_Sale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cg_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cg_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cg_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
